*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #111827;
    color: #FFF;
    margin: 0 4em;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em 0;
}
main{
    /* background-color: #1F2937; */
    border: 1px transparent solid;
    border-radius: 2em;
    
}
h1{
    color:#FFE84D;
    font-size: 2em;
    margin-bottom: .75em;
}
h2{
    color:#FFE84D;
    margin-bottom: .75em;
}
section{
    margin: 1em 0;
}
input[type="submit"]{
    background-color: #FFE84D;
    border: none;
    color: #333;
    font-weight: bold;
    padding: .5em;
}
input[type="text"]{
    all: unset;
    border-bottom: #FFF solid 1px;
    color: #CCC;
    padding: .3em; 
    width: 25em;   
}
/* --------------------- */
#SH{
    color: #FFE84D;
}
.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 2em;
}
/* ------------------------- */
#quien-soy{
    background-color: #1F2937;
    border: transparent solid 1px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
}
#quien-soy-content{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
}
#personal-img{
    text-align: center;
}
#personal-img>img{
    border: 1px solid  transparent;
    border-radius: 2em;
    width: 22em;
}
.paragraphs{
    border-left: 1px #FFF solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25em;
    height: 16em;
    margin: 1em 0;
    padding: 2em;
    width: 70%;
}
p{
    margin: 1em 0;
    text-align: justify;
}
/* ------------------------- */
#techstack{
    background-color: #1F2937;
    border: transparent solid 1px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
}
.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em;
    gap: 10em;
}
.card{
    text-align: center;
}
/* ------------------------- */
#actividades-fav{
    background-color: #1F2937;
    border: transparent solid 1px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
}
#actividades-fav>form{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}