*{
    font-family: 'PT Sans', sans-serif;
}
body{
    background-color: #F6F7FB;
    color: #333;
    margin: 0 4em;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em 0;
}
hr{
    all: unset;
    display: block;
    height: .01em;
    margin: 0;
    width: 10em;
    background: #666;
}
h1,h2{
    font-family: 'Merriweather',sans;
}
h1{
    margin: 1em 0;
    text-align: center;
}
#title{
    border: .05em solid #BCBCBC;
    color:#F0BE25;
    font-size: 2em;
    box-shadow: 
        0 1px 1px hsl(0deg 0% 0% / 0.05),
        0 2px 2px hsl(0deg 0% 0% / 0.05),
        0 4px 4px hsl(0deg 0% 0% / 0.05),
        0 8px 8px hsl(0deg 0% 0% / 0.05),
        0 16px 16px hsl(0deg 0% 0% / 0.05)
    ;
    border-radius: .1em;
    margin: 0;
    padding: .25em;
}
#subtitle{
    background-color: #333;
    border: .05em solid #BCBCBC;
    color:#FFF;
    padding: .25em;
    box-shadow: 
        0 1px 1px hsl(0deg 0% 0% / 0.05),
        0 2px 2px hsl(0deg 0% 0% / 0.05),
        0 4px 4px hsl(0deg 0% 0% / 0.05),
        0 8px 8px hsl(0deg 0% 0% / 0.05),
        0 16px 16px hsl(0deg 0% 0% / 0.05)
    ;
    border-radius: .1em;
    font-size: 1em;
}
h2{
    color:#F0BE25;
    font-size: 30px;
}
section{
    margin: 2em 0;
    background-color: #FEFEFE;
    border-radius: 1em;
    box-shadow: 
        0 1px 1px hsl(0deg 0% 0% / 0.05),
        0 2px 2px hsl(0deg 0% 0% / 0.05),
        0 4px 4px hsl(0deg 0% 0% / 0.05),
        0 8px 8px hsl(0deg 0% 0% / 0.05),
        0 16px 16px hsl(0deg 0% 0% / 0.05)
    ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
}
button[type="submit"]{
    background-color: #F0BE25;
    border: none;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    padding: .5em;
}
input[type="text"]{
    all: unset;
    border-bottom: #666 solid 1px;
    color: #CCC;
    padding: .3em; 
    width: 25em;   
}
.enclose{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* --------------------- */
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --------------------- */
.SH{
    background-color: #333;
    color: #F0BE25;
    font-weight: bold;
}
.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 2em;
}
/* ------------------------- */
#quien-soy-content{
    display: flex;
    justify-content: space-evenly;
}
#personal-img{
    border: solid .15em #F0BE25;
    border-radius: 2em;
    padding: .25em;
    text-align: center;
}
#personal-img>img{
    border: 1px solid  transparent;
    border-radius: 2em;
    width: 22em;
}
.paragraphs{
    border-left: 1px #CCC solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25em;
    height: 16em;
    margin: 1em 0;
    padding: 2em;
    width: 70%;
}
p{
    margin: .5em 0;
    text-align: justify;
}
/* ------------------------- */
.tarjetas{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em;
    gap: 10em;
}
.card{
    background-color: #FFF;
    border-radius: 1em;
    box-shadow: 
        0 1px 2px rgba(0,0,0,0.07), 
        0 2px 4px rgba(0,0,0,0.07), 
        0 4px 8px rgba(0,0,0,0.07), 
        0 8px 16px rgba(0,0,0,0.07),
        0 16px 32px rgba(0,0,0,0.07), 
        0 32px 64px rgba(0,0,0,0.07);
    ;
    padding: 2em;
    text-align: center;
}
/* ------------------------- */
#actividades-fav>form{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
#actividades-fav>form> input:focus{
    color: #888;
}